body {
    padding-bottom: 0;
}

form {
	display: none;
}

div.container.body-content {
    display: none;
}

#mapao {
	margin-top: -20px;
}

#googleMap {
    width: 100%;
}

table.preco-comb {
	border-collapse: collapse;
}

	table.preco-comb td, table.preco-comb th {
  		border: 1px solid #999;
  		padding: 0.3rem;
  		text-align: center;
  		width: 45px;
	}

#div-btn-buscar-melhor {
  position: absolute;
  left: 2%;
  bottom: 10%;
}

#btn-buscar-melhor > span {
  font-size: 24px;
  top: 7px;
}